@font-face {
    font-family: 'Baloo Bhai', cursive;
    src: url(assets/fonts/BalooBhai-Regular.ttf);
    font-family: 'Raleway', sans-serif;
    src: url(assets/fonts/Raleway-Bold.ttf);
}


/* -- Global -- */
.flexCenter{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* -- Fin Global -- */

/*-----------------------------------------------*/

/* --  Header -- */
.titre h1 {
    font-family: 'Baloo Bhai', cursive;
    font-size: 8vh;
    text-align: center;
}
/* -- Fin Header -- */

/*-----------------------------------------------*/

/* -- Main -- */
.intro {
    font-family: 'Raleway', sans-serif;
}
.intro h2 {
    font-size: 6vh;
    text-align: center;
}
.intro p {
    font-size: 2vh;
    text-align: center;
}
.divButton button{
    font-size: 6vh;
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
}
#content {
    text-align: center;
}

/* -- Fin Main -- */

/*-----------------------------------------------*/

/* -- Footer -- */

/* -- Fin Footer -- */