@font-face {
    font-family: 'Baloo Bhai', cursive;
    src: url(assets/fonts/BalooBhai-Regular.ttf);
    font-family: 'Raleway', sans-serif;
    src: url(assets/fonts/Raleway-Bold.ttf);
}


/* -- Global -- */
body {
    background-color: black;
    color: white;
}
.flexCenter{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* -- Fin Global -- */

/*-----------------------------------------------*/

/* --  Header -- */
header {
    /*background-color: blue;*/
}
.titre h1 {
    font-family: 'Baloo Bhai', cursive;
    font-size: 8vh;
    text-align: center;
}
/* -- Fin Header -- */

/*-----------------------------------------------*/

/* -- Main -- */
main {
    /*background-color: darkcyan;*/
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
}
.intro {
    font-family: 'Raleway', sans-serif;
}
.intro h2 {
    font-size: 6vh;
    text-align: center;
    margin: 1em 0 0 0;
}
.intro p {
    margin: 0 0 10vh 0;
    font-size: 3vh;
    text-align: center;
}
.divButton {
    padding-bottom: 3%;
}
.divButton button{
    font-size: 6vh;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    box-shadow: 0px 0px 23px 6px rgba(255,255,255,1);;
    border: none;
    font-weight: bold;
    outline: none;
}
button:hover {
    transform: scale(1.1);
}
button:active {
    transform: scale(0.8);
}
#content {
    text-align: center;
    width: 40%;
    margin: auto;
    /*background-color:green;*/
}
#content h3 {
    font-size: 160%;
}
#content p {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    padding-bottom: 2%;
}

/* -- Fin Main -- */

/*-----------------------------------------------*/

/* -- Footer -- */
footer {
    /*background-color: brown;*/
    padding: auto;
}

/* -- Fin Footer -- */