header  {
    text-align: center;
    background-color: chartreuse;
}

.mainFrame {
    height: 75vh;
    width: 97vw;
    margin: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    vertical-align: text-bottom;
}

footer {
    text-align: center;
    background-color: brown;
}